notes
node_modules
dist
.tmp
app/bower_components
app/styles/main.css

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

npm-debug.log
.DS_Store

# Temporary files for Alpha version
pre-register.txt
o-auth.txt