/* ==========================================================================
   Base
   ========================================================================== */

// General rules
body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

// Responsive design extra classes
.res-show {
  display: none;
}

@media (max-width: 600px) {
  .res-show {
    display: inline;
  }
  .res-hide {
    display: none;
  }
}


/* =============================================================================
   Header
   ========================================================================== */

header h1 {
  font-family: "Playball",Georgia,serif;
  font-size: 60px;
}


/* ==========================================================================
   Content
   ========================================================================== */

.btn {
  margin: 20px 0;
}

#login-form .modal-dialog {
  max-width: 500px;
}

.social-auth {
  margin: 20px 0;
}

.input-group .icon-lock {
  padding: 0 2px 0 3px;
}

.modal-body .icon-2x {
  margin: 0 20px;
}

#login-form .input-group {
  margin: 20px auto;
  width: 80%;
}

.modal-body button {
  margin: 7px 0 10px;
}

#login-form .modal-footer {
  margin-top: 0;
  text-align: center;
}

#login-tip {
  color: gray;
}

#login-tip:hover {
  text-decoration: underline;
  cursor: pointer;
}

#login-form .popover-content {
  font-size: 14px;
}

#map {
  border: solid 1px black;
  margin: 30px 0;
}

.leaflet-popup-close-button {
  display: none;
}


/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
  color: #333;
  font-size: 85%;
  margin: 50px;
}

#footer a {
  color: #333;
}

