.leaflet-popup, .leaflet-popup-content {
  margin: 0;
  min-width: 300px;
  padding: 0;
}

.leaflet-popup-content a {
  text-decoration: none;
}

.tweet-container {
  color:#333;
  font-size:16px;
  padding: 12px 14px;
}

.tweet-container img {
  float: left;
  margin: 4px 10px 3px 0;
}

.tweet-container small {
  color: gray;
}

.tweet-container .date {
  float: right;
  position: relative;
  top: 3px;
}

.tweet-container p {
  margin: 15px 0 0;
}